# User-defined Presets
CMakeUserPresets.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
.DS_store
.vs
.vscode
stagedir

# In-source builds are not allowed
CMakeCache.txt
CMakeFiles/

docs/html
docs/latex
